* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: black;
    /*outline: 2px solid rosybrown;*/
}

html {
    scroll-behavior: smooth;
}

.lol {
    position: relative;
}

.nav_right > a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: linear-gradient(45deg, #FFB1B0, #FFDFBE, #FFFFBF, #B4F0A7, #A9D1F7, #CC99FF, #FFB1B0);
    transition: width 0.4s linear;
}
.nav_right > a:hover::after {
  width: 100%;
}



.background_main {
    position: absolute;
    width: 100%;
    height: 900vh;
    background-color: #FFFEF7;
}

.background_main_limit {
    width: 20%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.rainbow {
    height: 100%;
    width: 10px;
}

.rainbow:nth-child(1){
    background-color: #FFB1B0;
    outline: 2px solid black;
}

.rainbow:nth-child(2){
    background-color: #FFDFBE;
    outline: 2px solid black;
}

.rainbow:nth-child(3){
    background-color: #FFFFBF;
    outline: 2px solid black;
}

.rainbow:nth-child(4){
    background-color: #B4F0A7;
    outline: 2px solid black;
}

.rainbow:nth-child(5){
    background-color: #A9D1F7;
    outline: 2px solid black;
}

.rainbow:nth-child(6){
    background-color: #CC99FF;
    outline: 2px solid black;
}

/* ::-webkit-scrollbar {
    display: none;
}*/

header {
    height: 100vh;
    position: relative;
}

.logo {
    font-size: 3.7rem;
    font-weight: bold;
}

/* Navigation Menu */

nav {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: #fffff4;
    border-radius: 0 0 5px 5px;

}

.lolkek {
    position: fixed;
    width: 100%;
    height: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.rainbow_border_effect {
    height: 150%;
    width: 175%;
    background: conic-gradient(
        #FFB1B0,
        #FFDFBE,
        #FFFFBF,
        #B4F0A7,
        #A9D1F7,
        #CC99FF,
        #FFB1B0
    );
    animation: spin 7s infinite linear;
}

@keyframes spin{
    100%{
        transform: rotate(-360deg);
    }
}

nav > div {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
}

nav > div > div {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
}

.nav_right {
    width: 10%;
}

.nav_right > a {
    cursor: pointer;
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    background-color: inherit;
}

/* Ticket Selection */ 

.page_one_text > h1 {
    font-size: 5rem;
    margin-bottom: 5px;
}

.page_one_text > h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.find_ticket {
    display: flex;
    width: 80%;
    height: 93.5%;
    margin: auto;
} 

.find_tickets_section {
    margin: auto;
    text-align: center;
    width: 80%;
}

.inputs_tickets {
    display: flex;
    justify-content: center;
}

.input_first_two {
    height: 100%;
    position: relative;
}

input[type=text] {
    width: 200px;
    height: 60px;
    border: 1px solid black;
    padding-left: 7px;
    margin: 0 2px;
    border-radius: 7px;
    background-color: white;
    font-size: 1.8rem;
    color: black;
}

.replace {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    outline: black 1px solid;
    position: absolute;
}

input[type=date] {
    width: 200px;
    height: 60px;
    padding-left: 7px;
    margin: 0 2px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: white;
    font-size: 1.8rem;
    color: grey;
}

/* Dropdown Menu for Passengers Count */

.dropdown {
    outline: 1px solid black;
    width: 100px;
    height: 60px;
    border-radius: 7px;
    border: none;
    font-size: 1.8rem;
    color: black;
    position: relative;
    display: inline-block;
    background-color: white;
}

.passenger_count {
    display: flex;
    background-color: white;
    cursor: pointer;
    justify-content: center;
    flex-wrap: wrap;
}

.passenger_count > p:nth-child(1) {
    background-color: inherit;
    color: black;
    font-size: 1.8rem;
    text-align: left;
}

.passenger_count > p:nth-child(1) > span {
    color: white;
    font-size: 1.8rem;
    background-color: white;
}

.passenger_count > p:nth-child(2) {
    background-color: inherit;
    color: grey;
    font-size: 1.7rem;
    text-align: left;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    top: 101%;
    left: -105%;
    width: 250px;
    height: 275px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1;
    padding: 10px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.adults, .children, .infants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
}

.children_quantity, .adults_quantity, .infants_quantity {
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
}

.wrapper {
    display: flex;
    background-color: white;
}

.minus, .num, .plus {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 1.8rem;
}

.minus:active, .num:active, .plus:active {
    background-color: tomato;
}

.radio_ticket_class {
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

.btn_find {
    width: 175px;
    height: 60px;
background-color: black;
  border: none;
  padding: 10px 5px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.btn_find:hover {
    opacity: 0.8;
}

.btn_find > a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: inherit;
}

.dropdown_infants, .dropdown_adults, .dropdown_children {
    margin: 5px 0;
}

.dropdown_adults > p, .dropdown_children > p, .dropdown_infants > p {
    text-align: left;
    color: black;
    font-size: 1.8rem;
    background-color: white;
    padding: 2px;
}

.choose_class {
    display: flex;
    flex-direction: column;
}

.radio_btns {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: white;
    color: black;
    text-align: left;
    padding: 2px;
}


.best {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 80%;
    margin-bottom: 100px;
}

.best_block {
    display: flex;
    width: 45%;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
}

.best_block_second {
    flex-direction: row-reverse;
}

.best_block_one {
    display: flex;
    justify-content: center;
}

.best_block_two {
    display: flex;
    justify-content: flex-end;
}

.best_block_three {
    display: flex;
    justify-content: flex-start;
}


.best > h3 {
    margin: 15px 0;
    font-size: 5rem;
    text-align: center;
}

.rating {
    font-size: 3rem;
    color: #ffd700;
}

.best div img {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.best_review_boxes {
    position: relative;
    width: 350px;
    height: 167px;
    padding: 0 20px;
    outline: 2px solid black;
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    transition: height 1.2s ease-in-out;
}

.best_review_boxes > p {
    font-size: 1.7rem;
    margin: 12px 0;
}

.best_review_boxes > h4 {
    font-size: 1.7rem;
    font-weight: bold;
}

.review_date {
    font-size: 1.4rem;
    font-weight: bold;
}

.review_more {
    background-color: white;
    font-size: 1.7rem;
    position: absolute;
    right: 10px;
    bottom: 1px;
    box-shadow: -20px 1px 6px white;
    color: #D1B000;
    cursor: pointer;
}

.review_more:hover {
    color: #FFCA03;
    text-decoration: underline;
}

.review1 {
    height: 330px;
}

.review2 {
    height: 352px;
}

.review3 {
    height: 293px;
}









/* Comments Section */

.client_comments {
    display: grid;
    place-items: center;
    height: 100vh;
}

.slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 500px;
    overflow: hidden;
}

.slider ul{
    list-style: none;
}

.slider > button {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: wheat;
    text-align: center;
}

.li{
    width: 725px;
    height: 550px;
    display: flex;
    position: relative;
}

.img_comment {
    border: 1px solid black;
    width: 300px;
    height: 450px;
    background-color: black;
    position: absolute;
    left: 63%;
    top: 10%;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text_comment {
    width: 500px;
    border-radius: 20px;
    border: 1px solid black;
    height: 310px;
    background-color: white;
    position: absolute;
    top: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_comment > p {
    width: 95%;
    margin: auto;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
}









footer {
    width: 100%;
    height: 100vh;
}

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 85%;
    margin: auto;
}

.footer_imgs > img {
    margin: 0 7px;
    width: 40px;
    height: 40px;
}

.facebook {
    -webkit-filter: invert(100%);
    width: 38px;
    height: 38px;
}

.footer_left {
    display: flex;
    flex-direction: column;
}

.footer_left > div {
    display: flex;
    flex-direction: column;
}

.footer_left_text > h2 {
    font-size: 5rem;
}

.footer_left_text > h3 {
    font-size: 4.2rem;
}

.footer_input {
    display: flex;
    flex-direction: column;
}

.input_button {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.input_button > input {
    width: 250px;
    font-size: 1.8rem;
    padding: 5px;
}

.input_button > button {
    width: 150px;
    height: 50px;
    font-size: 1.7rem;
}

.footer_right_text {
    width: 250px;
    height: 150px;
}

.footer_right {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_right_text > h3 {
    font-size: 4rem;
}

.footer_right_text > p {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.body_slider {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

textarea {
    resize: none;
    font-size: 2rem;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    overflow: auto;
    outline: none;
    margin-bottom: 10px;
}

textarea:focus-visible {
    border: 3px solid orange; 
}

.footer_imgs {
    margin: 20px 0;
}

.footer_left_text > p {
    font-size: 2rem;
}

/* ---------- FAQ --------------*/

.faq {
    width: 100%;
}

.faq > div:nth-child(1) {
    display: grid;
    place-items: center;
}

.receive_newsletter {
    display: flex;
    flex-direction: column;
}

.receive_newsletter_left {
    width: 600px;
}

.receive_newsletter_right {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.receive_newsletter > h3 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.newsletter_section {
    display: flex;
    justify-content: space-between;
}

.receive_newsletter > p {
    font-size: 1.8rem;
    font-weight: bold;
}

.receive_newsletter_right > input {
    outline: 0;
  background: #f2f2f2;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: black;
}

.receive_newsletter_right > button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    border-radius: 10px;
    width: 125px;
    height: 50px;
    border: 0;
    font-size: 1.4rem;
    cursor: pointer;
}



.faq > div > h2 {
    font-size: 4.5rem;
    margin: 1.5% 0;
}

.faq > div:nth-child(3) {
    display: none;
}

.submit_y {
    display: block;
    margin: 10px 0;
}

.submit_y > h3 {
    text-align: center;
    font-size: 3rem;
}

.submit_y > p {
    text-align: center;
    font-size: 2.5rem;
}

.submit_n {
    display: one;
}

.accardion {
    width: 50%;
    margin: 0 auto;
}
.accardion-block {
    margin-bottom: 7px;
    border-radius: 10px;
    display: block;
    border: 2px solid black;
}
.accardion-block:last-child {
    margin-bottom: 0;
}
.accardion-link {
    border-radius: 10px;
    position: relative;
}

.accardion-link a {
    display: block;
    padding: 20px;
    color: #fff;
    font-size: 2.8rem;
    font-weight: bold;
    text-decoration: none;
}

.accardion-link a:after {
    content: '>';
    transform: rotate(-270deg);
    position: absolute;
    font-size: 2.5rem;
    font-family: sans-serif;
    right: 20px;
    color: orange;
    transition-duration: 0.7s;
}

.accardion-lists {
    background-color: #e6e6e6;
    border-radius: 0 0 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    opacity: 0;
}
.accardion-lists ul {
  padding: 20px;
  margin: 0;
  list-style-type: none;
}
.accardion ul li p {
    padding: 0;
}
.accardion-lists p {
    padding: 20px;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}
.accardion-link.active a::after {
    content: '>';
    transform: rotate(-90deg);
    color: black;
}
.accardion-link.active a {
    color: black;
}
.active-block {
    max-height: 500px;
    opacity: 1;
}

.active-block > p {
    background-color: white;
}

.accardion-link > a {
    border-radius: 10px;
    background-color: white;
    color: black;
}
















/* --------------- Log In ----------------- */
.login_rainbow_effect {
   
}


.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    border: 2px solid orange;
    z-index: 10;
    background-color: white;
    width: 47%;
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login.active {
    transform: translate(-50%, -50%) scale(1);
}

.login_button {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 7px;
}

.login_button:hover {
    background-position: right center;
}
  
.login_button_design {
    border: none;
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
    padding-left: 0;
    padding-left: 6px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}



rainbow_border_effect_login {
    position: absolute;
    height: 200%;
    width: 120%;
    background: conic-gradient(
        #FFB1B0,
        #FFDFBE,
        #FFFFBF,
        #B4F0A7,
        #A9D1F7,
        #CC99FF,
        #FFB1B0
    );
    animation: spin 7s infinite linear;
}

@keyframes spin{
    100%{
        transform: rotate(-360deg);
    }
}

.login_header {
    pad: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.login_header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.login_header {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 5rem;
    font-weight: bold;
}

.login_header > h2 {
    font-size: 5rem;
    font-weight: bold;
}

.login_header > p {
    font-size: 2rem;
    margin: 30px 0;
}

.login_body {
    display: flex;
    width: 80%;
    height: 40%;
    margin: auto;
    justify-content: space-between;
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .02);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 0.2;
}

.login_block {
    display: flex;
    background-color: white;
    padding: 7px 50px 7px 25px;
    border-radius: 5px;
}

.login_block_border {
  background: linear-gradient(to left, #f6d365 0%, #fda085 100%);
  padding: 3px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s ease linear;
}

.login_block:hover + .login_block_border {
    background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}

.login_block > img {
    -webkit-filter: invert(100%);
    width: 20px;
    margin-right: 10px;
    height: 20px;
}

.login_block > p {
    font-size: 1.5rem;
}

.login_lower {
    width: 80%;
    height: 80%;
}

.splitter {
    display: grid;
    place-items: center;
}

.splitter > p{
    font-size: 5rem;
    font-weight: bold;
}

.login_left {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.login_left > input[type=email] {
    border: none;
    border-bottom: 2px solid black;
    background-color: unset;
    outline: none;
    font-size: 1.5rem;
    color: black;
}

.login_left > input {
    font-size: 2rem;
    margin: 15px 0;
}

.login_left > input[type=password] {
    border: none;
    border-bottom: 2px solid black;
    background-color: unset;
    outline: none;
    font-size: 1.5rem;
}

.email_login {
    top: 0%;
    position: absolute;
}
.password_login {
    top: 25%;
    position: absolute;
}

.login_left > label {
    margin-top: 10px;
    padding-left: 5px;
    transition: transform 0.2s ease-in-out;
    font-size: 2rem;
    pointer-events: none;
}

.login_left > input[type=password]:focus + label, .login_left > input[type=email]:focus + label, .login_left > input:not(:placeholder-shown) + label {
    transform: translateY(-17px);
    font-size: 1.7rem;
    opacity: 0.8;
    color: orange;
}

.login_left > input:focus {
    box-shadow: none;
    outline: none;
    border-color: orange;
}

.login_left > input:focus-within {
    transform: scale(1.01, 1.01);
}

.login_left > input::placeholder {
    color: transparent;
}

.forget_password {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget_password > a {
    margin-top: 15px;
    font-size: 1.5rem;
}

::selection{
    background:	orange;
    color: black;
}











  .container {
    width: 80%;
    margin: 20px auto;
    height: 100vh;
  }
  .carousel {
    border-radius: 5px;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
  }
  .slider {
    display: flex;
    height: 100%;
    width: 200%;
    flex-shrink: 0;
    transition: all 0.8s;
  }

  .tour_list {
    flex-basis: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    height: 600px;
  }

.tour_list {
    height: 600px;
    width: 1400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tour_list > img {
    width: 235px;
    height: 500px;
    border-radius: 15px;
    cursor: pointer;
}

.tour_list > img:hover{
    box-shadow: 0 0 2px black;
    opacity: 0.97;
}

.next {
    position: absolute;
    right: 20px;
    top: 45%;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 3.5rem;
    color: blanchedalmond;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
  }
.prev {
    position: absolute;
    left: 20px;
    top: 45%;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 3.5rem;
    color: blanchedalmond;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
  }








.auto_slider {
    display: grid;
    place-content: center;
}
  .rail {
    position: relative;
    margin: 20px 0;
    width: 1500px;
    height: 210px;
    overflow: hidden
  }
  .rail > div {
    position: absolute;
    overflow: hidden;
    right: -100px;
    top: 5px;
    width: 200px;
    height: 200px;
    animation-name: railmove;
    animation-duration: 5s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
    border-radius: 5px;
  }
  .rail > div > img {
    filter: grayscale(100%);
      height: inherit;
      width: inherit;
  }
  @keyframes railmove {
    0% {right: -100px;}
    99%, /*<- change value for speed adjustment */
    100% {right: calc(100% + 10px);}
  }
  .rail > div:nth-child(2)  {animation-delay: -1s;}
  .rail > div:nth-child(3)  {animation-delay: -2s;}
  .rail > div:nth-child(4)  {animation-delay: -3s;}
  .rail > div:nth-child(5)  {animation-delay: -4s;}
  .rail > div:nth-child(6)  {animation-delay: -5s;}
